$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$font-size-paragraph: 18px;
$font-bold: 600;
$font-semibold: 700;
$font-extrabold: 800;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: url(../assets/images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;

  &__title {
    text-align: center;
    font-family: "Fraunces", sans-serif;
    margin-block-start: 1em;
    color: $white;
    text-transform: uppercase;
    padding-inline: 3em;
    letter-spacing: 0.2em;
  }

  &__arrow {
    display: grid;
    place-content: center;
    place-items: center;
    padding-block-end: 7em;
    margin-block-start: 2em;
  }
}

.centered {
  display: grid;
  place-content: center;
  place-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__logo {
    margin-inline-start: 2em;
    margin-block-start: 1.5em;
    display: inline-block;
  }

  &__navlinks {
    display: none;
  }

  &__navlinks__link {
    justify-content: space-between;
    display: flex;
    font-family: "Barlow", sans-serif;
    margin-inline-end: 2em;
  }
  &__menu {
    object-fit: contain;
    position: absolute;
    right: 2em;
    margin-block-start: 1.5em;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;

  &__content {
    padding: 2em;
  }

  &__title {
    color: $very-dark-desaturated-blue;
    font-family: "Fraunces", sans-serif;
    text-align: center;
    padding-inline: 2em;
  }

  &__description {
    margin-inline: 2em;
    padding-inline-end: 1em;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-family: "Barlow", sans-serif;
    margin-top: 1.5em;
    font-weight: 400;
    color: $dark-grayish-blue;
  }

  &__image {
    max-width: 100%;
  }

  &__button {
    display: grid;
    text-align: center;
    margin-block: 1em;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-family: "Fraunces", sans-serif;

    &::after {
      content: "";
      position: absolute;
      border-bottom: 3px solid $yellow;
    }

    &:visited {
      color: $very-dark-desaturated-blue;

      &::after {
        content: "";
        position: absolute;
        border-bottom: 3px solid $yellow;
      }
    }
  }

  .grid__content-overlap {
    position: relative;
    top: -2.8rem;
  }

  .grid__image-extended {
    height: 160%;
    width: 100%;
    object-fit: cover;
  }

  .grid__image-extended-second {
    height: 136%;
    width: 100%;
    object-fit: cover;
  }

  .dark {
    color: $very-dark-desaturated-blue;
  }

  .testimonial__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  .testimonials__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 0.3em;
    color: $grayish-blue;
    margin-block-start: 4em;
    margin-block-end: 4em;
    font-family: "Fraunces", sans-serif;
  }

  .grid__img {
    display: grid;
    place-items: center;
  }
  .rounded-image {
    border-radius: 50%;
    height: 3em;
    width: auto;
  }

  .grid__desc {
    font-family: "Barlow", sans-serif;
    color: $very-dark-grayish-blue;
    margin-block-start: 1em;
    text-align: center;
    padding-inline: 5.6em;
    line-height: 1.8;
  }

  .grid__author {
    text-align: center;
    font-size: 1em;
    margin-block-start: 2em;
    font-family: "Fraunces", sans-serif;
  }
}

.grid__author__position {
  text-align: center;
  color: $grayish-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barlow", sans-serif;
  margin-block-start: 1em;
  font-size: 1rem;
  margin-block-end: 3em;
}

img{
  max-width: 100%;
}

.image-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.footer{
  background-color: $dark-moderate-cyan;

  &__logo{
    margin: 0 auto;
    display: grid;
    padding: 3em;
  }
}

.flex-items{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: 'Barlow', sans-serif;
}


.flex-items-icons{
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-block-start: 2em;
  align-items: center;
  font-family: 'Barlow', sans-serif;
}

@media only screen and ( min-width: 1440px ){
  .grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid__content{
    padding: 6em;
    display: grid;
    order: -1;
  }

  .image-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

}