$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan: hsl(167, 40%, 24%);
$dark-blue: hsl(198, 62%, 26%);
$dark-moderate-cyan: hsl(168, 34%, 41%);
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$font-size-paragraph: 18px;
$font-bold: 600;
$font-semibold: 700;
$font-extrabold: 800;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background: url(../assets/images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;

  &__title {
    text-align: center;
    font-family: "Fraunces", sans-serif;
    margin-block-start: 1em;
    color: $white;
    text-transform: uppercase;
    padding-inline: 3em;
    letter-spacing: 0.2em;
  }

  &__arrow {
    display: grid;
    place-content: center;
    place-items: center;
    padding-block-end: 7em;
    margin-block-start: 2em;
  }
}

.centered {
  display: grid;
  place-content: center;
  place-items: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: relative;

  &__logo {
    margin-inline-start: 2em;
    margin-block-start: 1.5em;
    display: inline-block;
  }

  &__navlinks {
    display: none;
  }

  &__navlinks__link {
    justify-content: space-between;
    display: flex;
    font-family: "Barlow", sans-serif;
    margin-inline-end: 2em;
  }
  &__menu {
    object-fit: contain;
    position: absolute;
    right: 2em;
    margin-block-start: 1.5em;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  & div {
    flex: 1;
  }

  &__image {
    width: 100%;
  }

  &__title {
    color: $very-dark-desaturated-blue;
    font-family: "Fraunces", sans-serif;
    text-align: center;
    font-weight: 700;
    padding-inline: 4em;
    margin-block-start: 2em;
  }

  &__description {
    margin-inline: 2em;
    margin-block-start: 1em;
    padding-inline-end: 1em;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    color: $dark-grayish-blue;
  }

  &__button {
    margin-block: 3em;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Fraunces", sans-serif;

    &::after {
      content: "";
      position: absolute;
      border-bottom: 3px solid $yellow;
    }

    &:visited {
      color: $very-dark-desaturated-blue;
    }
  }
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  & div {
    flex: 0.5;
    flex-basis: 50%;
  }
  & img {
    width: 100%;
  }
}

// .extended{
//   height: 180%;
//   object-fit: contain;
// }

// .overlap{
//   position: relative;
//   bottom: em;
// }

.testimonials-grid{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.grid__img{
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.rounded-image{
  clip-path: circle(50%);
  width: auto;
  height: 3em;
}

.testimonials__title{
  text-align: center;
  margin-top: 2em;
  text-transform: uppercase;
  font-size: 1em;
  color: $grayish-blue;
}

.testimonial__grid{
  display: flex;
  flex-direction: column;
}

.grid__author, .grid__author__position{
  text-align: center;
}

.grid__desc{
  text-align: center;
  font-family: 'Barlow', sans-serif;
  margin-block: 2em;
}


.grid__author{
  font-size: 1em;
}

.testimonials__title{
  margin-block: 2em;

}

.grid__author__position{
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 2em;
 margin: 0 auto;
}

.footer{
  background-color: $dark-moderate-cyan;

  &__logo{
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.flex-items{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-family: 'Barlow', sans-serif;
}

.flex-items-icons{
  display: flex;
  margin-block-start: 2em;
  justify-content: center;
  gap: 2em;
  align-items: center;
}

@media  screen and (min-width: 1440px) {
  .navbar__navlinks{
    display: flex;
    margin-block-start: 1.5em;
  }

  .navbar__menu{
    display: none;
  }

  .testimonials-grid{
    flex-direction: row;
  }

  .grid{
    flex-direction: row;
  }
}

